*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.user-pays {
  min-height: 100%;
  width: 700px;
  background-color: white;
  margin: 0 auto;

  &__title {
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #f5f5f5;

  }
  &__main {
    min-height: auto;
    width: 100%;
    padding: 40px 150px 64px;

    &__content {
      
      .field {
        margin-top: 32px;
        .top-text {
          margin-bottom: 8px;
          display: flex;

          .text-title {
            font-weight: bold;
          }

          .important {
            color: white;
            font-size: 12px;
            border-radius: 2px;
            padding: 2px 4px;
            margin: 0 0 0 8px;
            background-color: #ea352d;
          }
        }

        .number {
          width: 343px;
          height: 48px;
          margin: 8px 0 0;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          font-size: inherit;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
        
      }
      .card-date {
        display: flex;
        align-items: center;
        width: 300px;
        #exp_month{
          width: 131.5px;
          height: 50px;
          background-color: white;
        }
        .month-text-box{
          margin-right: 20px;
          margin-left: 20px;
        }
        #exp_year{
          width: 131.5px;
          height: 50px;
          background-color: white;
        }
        .year-text-box{
          margin-left: 20px;
        }
      }

      .user-pays__card-list {
        display: flex;

        img {
          height: 20px;
          width: auto;
          margin: 5px;
        }
      }
      .end-btn{
        margin-top: 28px;
        width: 348px;
        height: 50px;
        background-color: #ea352d;
        color: white;
        cursor: pointer;
        display: none;
      }
      /*お支払い方法一覧画面のcss*/
      .card-delete-btn{
        width: 328px;
        height: 50px;
        background-color: #ea352d;
        color: white;
        cursor: pointer;
        margin-bottom: 28px;
      }
    }

    #cvc{
      width: 343px;
      height: 48px;
      margin: 8px 0 0;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: inherit;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      margin-bottom: 50px;
    }
    .card {
      display: flex;
      margin: 8px 0 0;
      padding-left: 200px;

      .card-icon {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background: #0099e8;
        color: #fff;
        line-height: 14px;
        font-size: 12px;
        text-align: center;
      }
      .card-text {
        font-size: 12px;
        color: #0099e8;

      }
    }
    .next-box{
      cursor: pointer;
      background-color: #ea352e;
      height: 50px;
      width: 343px;
      margin-top: 60px;
      &__text{
        text-align: center;
        line-height: 50px;
        color: white;
      }
    }

    #token_submit{
      width: 328px;
      height: 50px;
      background-color: #ea352d;
      color: white;
      cursor: pointer;
      margin-bottom: 28px;
    }
  }
}

