*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.address-register{
  width: 100vw;
  height: auto;
  background-color: #f5f5f5;
  .header{
    .image-box{
      text-align: center;
      height: 70px;
      width: 200px;
    }
    padding-top: 30px;
    text-align: center;
    height: 128px;
    width: 100%;
  }
  .main-wrapper{
    padding-bottom: 30px;
    &__fields{
      padding-bottom: 30px;
      width: 700px;
      margin: 0 auto;
      background-color: white;
      .main-header{
        height: 97px;
        background-color: white;
        margin: 0 auto;
        border-bottom: solid;
        &__title{
          font-size: 22px;
          font-weight: bold;
          text-align: center;
          line-height: 97px;
        }
      }
      .main-content{
        width: 343px;
        margin: 0 auto;
        margin-top: 30px;
        .field{
          margin-top: 24px;
          .top-text{
            margin-bottom: 8px;
            display: flex;
            .text-title{
              font-weight: bold;
            }
            .important{
              color: white;
              font-size: 12px;
              border-radius: 2px;
              padding: 2px 4px;
              margin: 0 0 0 8px;
              background-color: #ea352d;
            }
          }
          
          .text-css{
            width: 343px;
            height: 48px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            font-size: inherit;
          }
          
          &__name-box{
            .name-text-top{
              display: flex;
              margin-bottom: 8px;
              .name{
                font-weight: bold;
              }
              .name-important{
                color: white;
                font-size: 12px;
                border-radius: 2px;
                padding: 2px 4px;
                margin: 0 0 0 8px;
                background-color: #ea352d;
              }
            }
            .name-css{
              width: 165.5px;
              height: 48px;
              padding: 5px;
              border-radius: 5px;
              border: 1px solid #ccc;
              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              font-size: inherit;
            }
          }
          .birth-text-top{
            display: flex;
            margin-bottom: 8px;
            .text-birth-date{
              font-weight: bold;
            }
            .birth-important{
              color: white;
              font-size: 12px;
              border-radius: 2px;
              padding: 2px 4px;
              margin: 0 0 0 8px;
              background-color: #ea352d;
            }
          }

          &__birth-text{
            color: #888;
            font-size: 14px;
          }
          .year,.month,.day{
            height: 48px;
            width: 76px;
          }
        }

        .building{
          margin-top: 24px;
          .building-box{
            margin-bottom: 8px;
            display: flex;
            .building-title{
              font-weight: bold;
            }
            .any{
              color: white;
              font-size: 12px;
              border-radius: 2px;
              padding: 2px 4px;
              margin: 0 0 0 8px;
              background-color: #ea352d;
            }
          }
          .building-css{
            width: 343px;
            height: 48px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            font-size: inherit;
          }
        }
        .end-btn{
          margin-top: 28px;
          width: 348px;
          height: 50px;
          background-color: #ea352d;
          color: white;
          cursor: pointer;
          margin-bottom: 10px;
        }
        .tel{
          &__box{
            display: flex;
            margin-bottom: 8px;
            &__top{
              font-weight: bottom;
            }
            &__text{
              color: white;
              font-size: 12px;
              border-radius: 2px;
              padding: 2px 4px;
              margin: 0 0 0 8px;
              background-color: #ea352d;
            }
          }
          &__number{
            width: 400px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
          }
        }
        .back{
          cursor: pointer;
          background-color: #ea352e;
          height: 50px;
          width: 343px;
          margin: 0 auto;
          margin-top: 20px;
          color: white;
        }
      }
      .next-box{
        cursor: pointer;
        background-color: #ea352e;
        height: 50px;
        width: 343px;
        margin: 0 auto;
        margin-top: 20px;
        &__text{
          text-align: center;
          line-height: 50px;
          color: white;
        }
      }
    }
  }
}
