.footer{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  min-width: 1160px;
}
.icons{
  max-width: 840px;
  margin: 0 auto;
  display: flex;
  &__icon{
    display: flex;
    flex-direction: column;
    width: calc(1 / 3 * 100%);
    margin: 0 2% 0 0;
    &__head{
      margin: 0 0 20px;
      font-size: 16px;
      font-weight: bold;
      ul{
        list-style: none;
        margin-top: 20px;
        li{
          margin-top: 5px;
          a{
            text-decoration: none;
            color: white;
            font-size: 11px;
          }
        }
      }
    }
  }
}
.footer_mark{
  max-width: 160px;
  width: 100%;
  margin: 0 auto;
  img{
    width: 150px;
  }
}

.camera_btn{
  width: 150px;
  height: 150px;
  position: fixed;
  padding: 20px;
  bottom: 20px;
  right: 20px;
  background-color: rgba(253, 51, 0, 0.808);
  border-radius: 10px;
}