img {
  width: 100%;
  vertical-align: bottom;
}
.Header .Header__Inner .Header__Inner__Main .Icon {
  padding-bottom: 10px;
  /* margin-right: 30px; */
  border-radius: 4px;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
body {
  font-family: “Source Sans Pro”, Helvetica, Arial, “游ゴシック体“, “YuGothic”, “メイリオ“, “Meiryo”, sans-serif;
}
 //--ーーーーーーーーーーーーーーーーーー ヘッダー/ロゴ・検索窓・ボタン ーーーーーーーーーーーーーーーーーーーーーーー-->
  .Header {
    width: 100%;
    padding: 0 60px;
      &__Inner {
        max-width: 1040px;
        width: 100%;
        min-height: 100x;
        margin: 0 auto;
        padding: 15px 0 0;
          &__Main {
            height: 50px;
            position: relative;
            display: flex;
            align-items: center;
            .Icon {
              padding-bottom: 10px;
              margin-right: 30px;
              border-radius: 4px;
              a {
                width: 140px;
                display: block;
              }
            }
            .SearchBox {
              margin-left: auto;
              width: 100%;
              form input {
                width: calc(100% - 45px);
                height: 36px;
                padding: 0 0 0 5px;
              }
              form button {
                width: 36px;
                border: 0;
                cursor: pointer;
                background-color: #3CCACE;
                padding: 8px;
              }
            }
          }
 //--ーーーーーーーーーーーーーーーーーー ヘッダー/ロゴ・検索窓・ボタン ーーーーーーーーーーーーーーーーーーーーーーー-->
          &__Menuber {
            font-size: 14px;
            display: flex;
            margin-bottom: 10px;
            height: 35px;
            justify-content: space-between;
            margin: 0 auto;
            .ListLeft {
              position: relative;
              display: flex;
              text-decoration: none;
              list-style: none;
              a {
                color: #333;
                text-decoration: none;
                line-height: 32px;
                background-position: center right;
                background-repeat: no-repeat;
                background-size: 18px;
                padding-right: 30px;
              }
            }
            .ListRight {
              display: flex;
              list-style: none;
              margin: 5px;
              a {
                width: 32px;
                padding: 0 0 0 16px;
                text-decoration: none;
                color: #333;
                
              }
            }
          }
      }
  }