
.main{
  width: 100%;
  height: 100vh;
  .section1{
    margin-top: 10px;
    background-image: url('/images/bg-appBanner-pict.jpg');
    background-size: cover;
    align-items: center;
    padding: 100px 0 100px 100px;
    h1{
      color: white;
      font-size: 60px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    .text{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 0 0;
      display: block;
    }
    .img_box{
      margin-top: 30px;
      a{
        text-decoration: none;
        .img1{
          width: 350px;
          height: 60px;
        }
        .img2{
          width: 200px;
          height: 60px;
          text-decoration: none;
        }
      }
    }
  }

  .section2{
    margin-top: 40px;
    h2{
      text-align: center;
      margin-bottom: 40px;
    }
    h2::after{
      content: " ";
      text-decoration: underline;
      color: black;
    }
    .boxes{
      display: flex;
      justify-content: space-evenly;
      &__box{
        text-align: center;
        position: relative;
        .number{
          position: absolute;
          left: 27px;
          width: 50px;
          height: 50px;
          background-color: #3CCACE;
          font-size: 30px;
          color: white;
        }
        .edit_first{
          left: 71px;
        }
        .edit_second{
          left: 0;
        }
        img{
          width: 306px;
          height: 306px;
  
        }
        .first{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          margin-top: 15px;
          span{
            color: #3CCACE;
          }
          .first{
            color: black;
          }
        }
        .second{
          color: #3CCACE;
        }
        p{
          font-size: 18px;
          word-break : break-all;    
          margin-bottom: 50px;    
        }
      }
    }
  }
  .section3{
    background-image: url(material/pict/bg-topMiddleDl-pict.jpg);
    background-size: cover;
    align-items: center;
    padding: 10px 0 10px 100px;
    h1{
      color: white;
      font-size: 60px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    .text{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 0 0;
    }
    .img_box{
      margin-top: 30px;
      a{
        text-decoration: none;
        .img1{
          width: 350px;
          height: 60px;
        }
        .img2{
          width: 200px;
          height: 60px;
          text-decoration: none;
        }
      }
    }
  }
  .section4{
    margin-top: 40px;
    h2{
      text-align: center;
      margin-bottom: 40px;
    }
    h2::after{
      content: " ";
      text-decoration: underline;
      color: black;
    }
    .boxes{
      display: flex;
      justify-content: space-evenly;
      &__box{
        width: 410px;
        text-align: center;
        position: relative;
        .edit_first{
          left: 71px;
        }
        .edit_second{
          left: 0;
        }
        img{
          width: 200px;
          height: 306px;
  
        }
        .first{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          margin-top: 15px;
          .first{
            color: black;
          }
        }
        p{
          font-size: 18px;
          overflow-wrap: break-word;   
          margin-bottom: 50px; 
        }
      }
    }
  }

  .section5{
    padding: 50px;
    background-color: whitesmoke;
    h3{
      text-align: center;
      font-size: 20px;
      p{
        color: #3CCACE;
        margin-top: 0;
      }

    }
    .contents{
      display: flex;
      justify-content: space-around;
      padding: 0 250px;
      &__content{
        text-decoration: none;
        border: solid 1px black;
        img{
        }
        p{
          margin: 0;
          color: black;

        }
        .second{
          float: left;
        }
        .star{
          float: right;

        }

      }
    }
  }

  .section6{
    padding: 50px;
    background-color: whitesmoke;
    h3{
      text-align: center;
      font-size: 20px;
      p{
        color: #3CCACE;
        margin-top: 0;
      }

    }
    .contents{
      display: flex;
      justify-content: space-around;
      padding: 0 250px;
      &__content{
        text-decoration: none;
        border: solid 1px black;
        img{
        }
        p{
          margin: 0;
          color: black;

        }
        .second{
          float: left;
        }
        .star{
          float: right;

        }

      }
    }
  }

    .section1{
    background-image: url('/images/bg-mainvisual-pict_pc.jpg');
    background-size: cover;
    align-items: center;
    padding: 100px 0 100px 100px;
    h1{
      color: white;
      font-size: 60px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    .text{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 0 0;
      display: block;
    }
    .img_box{
      margin-top: 30px;
      a{
        text-decoration: none;
        .img1{
          width: 350px;
          height: 60px;
        }
        .img2{
          width: 200px;
          height: 60px;
          text-decoration: none;
        }
      }
    }
  }
  .section7{
    background-image: url(material/pict/bg-appBanner-pict.jpg);
    background-size: cover;
    align-items: center;
    padding: 100px 0 100px;
    p{
      color: white;
      font-size: 30px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: center;
    }
    .text{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 0 0;
      display: block;
    }
    .img_box{
      margin-top: 30px;
      display: flex;
      justify-content: center;
      a{
        text-decoration: none;
        .img1{
          width: 350px;
          height: 60px;
        }
        .img2{
          width: 200px;
          height: 60px;
          text-decoration: none;
        }
      }
    }
  }

 
}
